SYMDOCK_PROJECT_NAME="symdock"
SYMDOCK_SYMFONY_VOLUME_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && cd ../../symfony && pwd)"
SYMDOCK_MYSQL_DB_VOLUME_PATH="$(cd "$(dirname "${BASH_SOURCE[0]}")" && cd ../../db && pwd)"
SYMDOCK_MYSQL_DB_FILENAME="dump.sql"
SYMDOCK_SSH_PRIVATE_KEY="$(cat ~/.ssh/id_rsa)"
SYMDOCK_HOST_UID="$(id -u)"
SYMDOCK_HOST_GID="$(id -g)"
